.background {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 100;

	background-color: rgba(0, 0, 0, 0.25);
}

.modal-container {
	border-radius: 0.5rem;
	place-self: center;
	z-index: 200;
}

.container {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
}
