.table {
	width: 100%;
	border-collapse: collapse;
	overflow: auto;
}

.table thead tr th {
	border: 1px solid rgba(255, 255, 255, 0.15);
	border-bottom: 4px solid rgba(255, 255, 255, 0.75);
	padding: 0.5rem;
	text-align: left;
}

.table tbody tr td {
	border: 1px solid rgba(255, 255, 255, 0.15);
	padding: 0.5rem;
}

.table tbody tr td button {
	margin-right: 0.5rem;
}
